<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f477f726e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="">
        <div class="logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre"></a>
            
            <div class="barraBusqueda">
                    <input class="searchBar" type="search" placeholder="Buscar productos, marcas" >
                    <button class="buttonBusqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="compraEnCuotas">
                    <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        

        <nav class="navContainer">
        <ul type="none" class="ofertas">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul type="none" class="cuenta">
            <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
    <form class="formularioAcceso" action="/" method="get">
    <p><input type="text" placeholder="Nombre de usuario" name="nombreUsuario"></p>
    <p><input type="password" placeholder="Contraseña" name="contrasena"></p>
    
    <div class="botonesFormulario">
    <button class="ingresar"  type="submit">Ingresar</button>
    </div>

    </form>
    </main>

    <footer class="footer" id="footer">
        <section class="pago">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="envio">
            <i class="fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </footer>
        <section class="copy">
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </body>
    </html>